.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  overflow-x: hidden !important;
}
.mobile-nav-header {
  height: 60px;
  width: 100%;
  background-color: #1e1e2c;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.mobile-nav-header .mobile-nav-icon {
  color: #fff;
  cursor: pointer;
  background-color: #1e1e2c;
}
.mobile-nav-title {
  vertical-align: middle;
}
.mobile-nav-menu .nav-items {
  height: auto;
  width: 200px;
  background-color: #1e1e2c;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
}
