.home-container {
  height: 300px;
  color: white;
  padding-left: 10rem;
  overflow: hidden;
}

.home-content {
  overflow: hidden;
}

.home-content h2 {
  padding: 0.5rem;
  padding-top: 5rem;
}
.home-content h1 {
  padding: 0.5rem;
  color: #a45ee9;
}
.home-btns {
  margin-top: 2rem;
}
.home-btns .btn-hire {
  color: #a45ee9;
  width: 10rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid #a45ee9 !important;
  margin-right: 0.5rem;
}

.home-btns .btn-hire svg {
  margin-right: 0.1rem;
  margin-bottom: 0.2rem;
  padding: 0.1rem;
}
.home-btns .btn-hire:hover {
  background-color: #a45ee9;
  color: #fff;
}
.home-btns .btn-cv {
  color: #109f38;
  width: 10rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid #109f38;
}
.home-btns .btn-cv svg {
  margin-right: 0.1rem;
  margin-bottom: 0.2rem;
  padding: 0.1rem;
}
.home-btns .btn-cv:hover {
  background-color: #109f38;
  color: #fff;
}
.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #a45ee9;
  margin-top: 1.5rem;
  text-align: center;
  position: fixed;
  right: 0;
  cursor: pointer;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;

  z-index: 10;
}

/* mobile css */
@media (max-width: 600px) {
  .home-container {
    padding: 0 !important;
    margin: 0;
    margin-top: 1.2rem;
    width: 100%;
  }
  .home-container h2 {
    font-size: 25px;
  }
  .home-container h1 {
    font-size: 25px;
  }
  .home-btns {
    margin-top: 1rem;
  }
  .home-btns .btn-hire {
    width: 6rem;
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }
  .home-btns .btn-hire svg {
    vertical-align: middle;
    padding: 0;
  }
  .home-btns .btn-cv {
    width: 6rem;
    font-size: 0.9rem;
    margin-right: 0.3rem;
  }
  .home-btns .btn-cv svg {
    vertical-align: middle;
    padding: 0;
  }
  .theme-btn {
    top: 30;
  }
}
