.education {
  padding: 3rem;
  padding-left: 5rem;

  background-color: rgba(128, 128, 128, 0.101);
}
.education#dark {
  background-color: #1e1e2c;
}

.education h1 {
  color: #555;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  margin: 0 1rem;
  position: relative;
}
.education h1#dark {
  color: #f4eee0;
}

.education h1::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  border-bottom: 0.2rem solid #7f00ff;
}
.education .vertical-timeline-element-title {
  color: #a45ee9;
}

.education .vertical-timeline-element-subtitle {
  color: #1e1e2c;
  font-size: 1.2rem;
}
.education .cgpa {
  color: #1e1e2c;
  font-size: 1rem;
}

/* education mobile css */
@media (max-width: 600px) {
  .education {
    margin: 0;
    padding: 0;
    margin-top: 1.2rem;
    width: 100%;
  }
  .education h1 {
    padding-top: 20px;
  }
}
